src/main/resources/materials.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="materials">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="material" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="materialId" type="xs:int"/>
              <xs:element name="materialName" type="xs:string"/>
              <xs:element name="materialDesc" type="xs:string"/>
              <xs:element name="materialPrice" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>