src/main/resources/xml/employees.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employee" maxOccurs="unbounded">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="empId" type="xs:int"/>
              <xs:element name="firstName" type="xs:string"/>
              <xs:element name="lastName" type="xs:string"/>
              <xs:element name="age" type="xs:int"/>
              <xs:element name="email" type="xs:string"/>
              <xs:element name="phoneNumber" type="xs:string"/>
              <xs:element name="job">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="jobId" type="xs:int"/>
                    <xs:element name="jobTitle" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="teams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="team" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="teamId" type="xs:int"/>
                          <xs:element name="teamName" type="xs:string"/>
                          <xs:element name="teamDetails" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>